@import url(http://fonts.googleapis.com/css?family=Ubuntu);
@import url(http://fonts.googleapis.com/css?family=Tangerine);
 /*sve zajedno*/
*{
margin:0px;
padding: 0px;
}

body {
	background-color: #29242D;
	}
#page {
	min-height: 100%;
	position: relative;
	width:1000px;
	margin-left: 150px;
	
	}
#header {
	position: relative;
	background-color: #E8E8E8;
	height: 200px;
	width: 1000px;

	}
#header img{
	margin: 15px;	
	width: 160px;
	height: 130px;
	}
#header p{
	color: black;
	margin-left: 18px;	
	
	font-family: Tangerine;
	font-size: 25px;
	text-shadow: 4px 4px 4px gray;	
	}

#menu {	
	position: absolute;
	top: 200px;
	clear: both;
	background-color: #1F2E2E;
	width: 1000px;
	height: 28px;
	
	}
#menu ul {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
	}
#menu li {
	display: inline;
	
	}
#menu a {
	text-decoration: none;
	font-family: Tahoma, Geneva, sans-serif;
	width: auto;
	color: white;
	float: left;
	
	padding: 0.3em 0.6em;
	/*border-right: 4px solid white; */
	}
#menu a:hover {
	background-color: DarkGray;
	}

/* home*/
#homepage {
	position: absolute;
	top: 213px;
	float: left;
	
	}
/*#vertical-line {
	position: absolute;
	left: 700px;
	width: 1px;
	height: 100px;
	color: white;
	float: left;
	border: solid 2px;
	}
*/
#news {
	width: 100%;
	margin: 0px;
	padding: 0px;	
	}

.full-title {
	color: black;
	}
#headline {
	background: #B2B2B2;
	width: 640px;
	height: 66px;
	margin: 0px;
	padding: 0px;
	}
#headline h2{
	color: #0C0D0D;
	font-weight: bold;
	font-size: 25px;
	display: block;
	width: 60px;
	margin: 15px;
	padding: 10px;
	
	}

.post {
	background-color: #B2B2B2;
	width: 640px;
	height: 350px;
	margin-bottom: 4px;	
	}
.break{
    width: 100%;
    position: relative;
    top: -18px;
    clear: both;
    margin: 20px 0;
    border: 1px solid #001F1F;
    box-shadow: 0 5px 5px #333;
}
.full-title {
	padding: 6px;
}
.full-title a {
	color: #0C0D0D;
	text-decoration: none;
	}
.full-title a:hover {
	color: #798282;
	}
.autor {
	font-family: Ubuntu;
	font-size: 11px;
	color: #121C2E;
	padding:8px;
	float: left;
	}
.date {
	color: #121C2E;
	font-family: Ubuntu;
	font-size: 11px;
	padding: 8px;
	}
.entry-content {
	clear: both;
	margin: 12px;
	}
.entry-content p {
	position: absolute;
	left: auto;
	float: left;
	color: #0C0D0D;
	width: 360px;
	}
.entry-content p a {
	color:#1F2E2E;
	text-decoration: none;
	}
.entry-content img {
	position: relative;
	top: 23px;
	float: right;
	max-width: 250px;
	max-height: 240px;
	border: solid 2px;
	border-radius: 12px;
	}

.desno {
	position: absolute;
	top: 15px;
	left: 645px;
	float: right;
	width: 355px;
	height: auto;
	background: #B2B2B2;
	}
.recommend {
	height: auto;
	}
.recommend>h2 {
	color: black;
	text-align: left;
	text-decoration: none;
	padding: 8px;
	}	
.recommend>h4 {
	margin: 4px;
	padding: 8px;
	text-decoration: none;
	}
.recommend h4 a {
	color: #0C0D0D;
	text-decoration: none;
	}
.recommend a:hover {
	color: #798282;
}
.recommend>p {
	padding: 8px;
	margin: 4px;
	text-decoration: none;
	}
.recommend  a {
	color: black;
}
.recommend>img {
	width: 200px;
	height: 200px;
	padding: 8px;
	}
.quotes {
	height: 808px;
	background: #B2B2B2;
	padding: 15px;
	}
.quotes p {

	width: 20px;
}

/*tables */
#tablepage {
	position: absolute;
	top: 225px;
	background: #B2B2B2;
	width: 1000px;
	height: 800px;
	}

#tabela { 
	position: absolute;
	top: 20px;
	width: 400px;
	margin: 15px;
	float: left;
	border-color: black;
	}
#toplista {

	text-align: center;
	color: #4E5C5C;
	background: transparent;
}
#table {
	width: 470px;

}
table, th, td {
    
	border-collapse: collapse;
	
    
}
th , td{

    padding: 15px;
}
.tr1 , .tr3, .tr5, .tr7, .tr9 {
	background: #4E5C5C;
	color: #B2B2B2;
}
.tr2 , .tr4, .tr6, .tr8, .tr10 {
	background: #B2B2B2;
	color: #4E5C5C;
}

.t-desno {
	float: right;
	width: 400px;
	height: 200px;
	position: relative;
	top: 20px;
}
.t-desno a {
	text-align: left;
	text-decoration: none;
	
	color: black;
	padding: 0px;


}
.t-desno img {
	max-height: 300px;
	max-width: 300px;
	padding: 0px;
	padding-top: 15px;
	margin: 0px;
	

}

#linkpage { 
	position: absolute;
	top: 228px;
	background-color: #B2B2B2;
	height: 500px;
	width: 1000px;

	}
.lista {
	list-style-image: url("slike/bullet.png");
	margin-left: 30px;
	margin-top: 8px;
	padding: 15px;
}
.lista a {
	text-decoration: none;
	color: black;
}
.lista a:hover {
	color: gray;
}
/*
#footer {
    position: relative;
    margin-top: -100px;
    clear: both;
    height: 100px;
    width: 1000px;
    left: 0px;
    background-color: #BCBCBC;
    color: white;
    font-size: 13px;
    text-align: center;
}
#footer img {
  max-width: 30px;
  max-height: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
}

#footer li {
	display: inline;
}
*/